# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
.idea/
.vscode/

# Node
node_modules/
/frontend/node_modules/
npm-debug.log
yarn-error.log
